
<h3 class="text-muted page-header mb-4">Научная деятельность</h3>
<div class="science-container"><div class="row">
    <div class="col-sm-8 mx-auto">
<h5>Основные направления научной деятельности:</h5>
<ul>
    <li>моделирование быстропротекающих физических процессов;</li>
    <li>технологии автоматизированого управления технологическими процессами;</li>
    <li>технологическое обеспечение High Speed Machining;</li>
    <li>интеллектуальные системы инженерного расчета;</li>
    <li>разработка и внедрение ERP систем и компонентов на Open Source технологиях и многое другое.</li>
</ul>
<h5>Публикации:</h5></div></div>

<div class="row mt-4">
  <div class="col-sm-8 mx-auto">
    <div *ngIf="authService.loggedIn() && authService.isAdmin() && state" class="btn-group d-flex mx-auto mb-4">
        <button  (click)="newState()" class="btn btn-warning"><i class="far fa-arrow-alt-circle-left"></i></button>
        <button  (click)="onAdd()" class="btn btn-warning">Add article</button>
    </div>
    <div class="card mb-4" *ngFor="let article of articles" >
        <div *ngIf="authService.loggedIn() && authService.isAdmin() && state" class="manage-state">
            <i (click)="onEdit(article)" class="edit fas fa-edit fa-lg text-warning"></i>
            <i (click)="onDelete(article)" class="delete fas fa-trash-alt fa-lg text-tomato"></i>    
        </div>
        <img *ngIf="article.imgUrl" class="card-img-top" src="{{article.imgUrl}}" alt="Article image">
        <div class="card-body">
        <h5 class="card-title">{{article.title}}</h5>
        <p class="card-text">{{article.text}} <br><a *ngIf="article.url" href="{{article.url}}" class="" target="_blank">Подробнее >></a></p>
        
      </div>
      <!-- <div class="card-footer text-muted d-flex">
        <span class="ml-auto">{{ article.date | date:'dd MMM, yy' }}</span>
      </div> -->
    </div>
  </div>
</div>
</div>
