.page-header {
    padding-left: 50px;
}

.card {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
    
}

.card-img-top {
    margin: 0 auto;
    width: 65%;
    border-radius: 0;
}

.card-footer {
    background: none;
    border: none;
}

.edit {
    position: absolute;
    top: 17px;
    /* right: 15px; */
    right: 57px;
    cursor: pointer;
}

.delete {
    position: absolute;
    top: 18px;
    /* right: 60px; */
    right: 20px;
    cursor: pointer;
}

