<h3 class="text-muted page-header">Contacts</h3>
<small id="emailHelp" class="form-text text-muted">If you have any questions or suggestions just write us using the form below.</small>
<div class="row mt-5">
<div class="col-sm-6">
<div class="form-container">
  <form ngForm #form="ngForm" (ngSubmit)="onSubmit(form)">
  
    <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-user"></i></div>
          </div>
          <input type="text" class="form-control" ngModel name="name" #name="ngModel" placeholder="Name" required minlength="2" maxlength="50" [(ngModel)]="nameVal">
        </div>
        <div class="alert alert-danger" *ngIf="!name.valid && name.touched">
            <div *ngIf="name.errors.required">
              Name is required
            </div>
            <div *ngIf="name.errors.minlength">
              Name should be minimum {{name.errors.minlength.requiredLength}} characters
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-envelope"></i></div>
            </div>
        <input type="text" class="form-control" ngModel name="email" #email="ngModel" placeholder="Email" required email [(ngModel)]="emailVal">
        </div>
        <div class="alert alert-danger" *ngIf="!email.valid && email.touched">
            Email is required
        </div>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
       
    </div>
  
    
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-comment"></i></div>
            </div>
        <textarea class="form-control" ngModel name="message" #message="ngModel" rows="3" placeholder="Your message" required minlength="30" maxlength="3000" [(ngModel)]="messageVal"></textarea>
      </div>
      <div class="alert alert-danger" *ngIf="!message.valid && message.touched">
          <div *ngIf="message.errors.required">
            Message is required
          </div>
          <div *ngIf="message.errors.minlength">
            Message should be minimum {{message.errors.minlength.requiredLength}} characters
          </div>
      </div>
    </div>

    <ngx-recaptcha2 #captchaElem 
        (success)="handleSuccess($event)">
    </ngx-recaptcha2>

    <!-- <ngx-recaptcha2
        [size]="size"
        [hl]="lang"
        [theme]="theme"
        [type]="type"
        (expire)="handleExpire()"
        (load)="handleLoad()"
        (success)="handleSuccess($event)">
    </ngx-recaptcha2> -->

    <button type="submit" class="btn btn-primary mt-3" [disabled]="!form.valid">Submit</button>
  </form>
</div>
</div>

<div class="contact-via col-sm-6 d-flex justify-content-center align-items-center">
  <p class="py-4">Or contact us via email: <a href="mailto:javamachcluster@gmail.comu">javamachcluster@gmail.com</a></p>
</div>
</div>
