
<div class='row'>
  <div class='col-12 col-lg-9 content'>
    
      <div class='content-wrap'>
        <h3 class='anchor-heading text-muted mb-4' id='erp-systems'>JM cluster ERP</h3>

        <figure class='figure mx-auto'>
            <img src='/assets/img/ERP_graph.png' class='figure-img img-fluid rounded' alt='JM Cluster ERP'>
            <figcaption class='figure-caption text-right'>&#169; JM cluster</figcaption>
        </figure>

        <p><b>ERP (Enterprise Resource Planning)</b><!-- - организационная стратегия интеграции производства и операций, управления трудовыми ресурсами, финансового менеджмента и управления активами, ориентированная на непрерывную балансировку и оптимизацию ресурсов предприятия посредством специализированного интегрированного пакета прикладного программного обеспечения, обеспечивающего общую модель данных и процессов для всех сфер деятельности.--></p>

        <div class='content-text' [innerHTML] = " 'ERP.DESCRIPTION.INTRO' | translate "></div>
      </div>

      <div class='content-wrap'>
        <h5 class='anchor-heading' id='erp-structure' [innerHTML] = " 'ERP.DESCRIPTION.STRUCTURE.TITLE' | translate "></h5>
        <div class='content-text' [innerHTML] = " 'ERP.DESCRIPTION.STRUCTURE.DESCRIPTION' | translate "></div>
      </div>

      <div class='content-wrap'>
        <h5 class='anchor-heading' id='microservice' [innerHTML] = " 'ERP.DESCRIPTION.MICROSERVICE.TITLE' | translate "></h5>
        <div class='content-text' [innerHTML] = " 'ERP.DESCRIPTION.MICROSERVICE.DESCRIPTION' | translate "></div>
      </div>
          
  </div>
  
  <div class='d-none d-lg-block col-lg-3'>
    <div class='bd-toc'>
        <ul class='section-nav'>
            <li class='toc-entry'><a href='erp#erp-systems'>JM cluster ERP system</a>
              <ul>
                <li class='toc-entry'><a href='erp#erp-structure'>ERP structure</a></li>
                <li class='toc-entry'><a href='erp#microservice'>Microservices Architecture</a></li>
              </ul>
            </li>
        </ul>
    </div>
  </div>
</div>
