
<div class="row" style="height: 2220px;">
  <div class="col-12 col-lg-9 content">
    <div class="content-wrap">
        <h4 class="anchor-heading" id="industry-4.0">Индустрия 4.0</h4>
        <p>Немецкая академия наук и инженерии описала основные шаги, которые должно сделать предприятие, чтобы соответствовать концепции "Индустрия 4.0". В материале, подготовленном специально для TAdviser, журналист Леонид Черняк рассматривает эти этапы и предпосылки цифровой трансформации, к которой стремятся современные компании.</p>
        <p>Весной 2017 года Центр Industrie 4.0 Maturity Center, входящий в состав Немецкой академии наук и инженерии acatech, представил результаты исследования «Индекс зрелости для Индустрии 4.0» (Industrie 4.0 Maturity Index). Это исследование было выполнено совместно с экспертами компаний-партеров: Института управления в промышленности (FIR e. V. at RWTH Aachen), PTC, Infosys и TÜV SÜD.</p>
        <p>Индекс зрелости характеризует готовность предприятий к переходу на уровень индустриального развития, соответствующий представлениям о Четвертой промышленной революции, называемый «Индустрия 4.0» (Industrie 4.0 на немецком, Industry 4.0 на английском).</p>
        <h5>Что такое Industrie 4.0</h5>
        <p>Основу производства, согласно немецкой концепции Industrie 4.0, образуют киберфизические системы (Cyber-Physical System, CPS), состоящие из различных природных объектов, искусственных подсистем и управляющих контроллеров, позволяющих представить такое образование как единое целое. В CPS обеспечивается тесная связь и координация между вычислительными и физическими ресурсами.</p>
        <p>В понимании acatech, реализация инициативы Industrie 4.0 в полном ее объеме предполагает создание глобальной киберфизической системы в рамках национальной экономики. Но это не значит, что невозможно реализовать отдельные составляющие Industrie 4.0 в рамках одного отдельно взятого предприятия.</p>
        <p>Ключевым моментом в Industrie 4.0 является создание инфраструктуры, имеющей в основе три типа интеграции:</p>
        <ul>
          <li>Горизонтальная интеграция структурной модели бизнеса (value networks);</li>
          <li>Сквозная цифровая интеграция производственных процессов (digital integration of engineering) по всей структурной модели бизнеса;</li>
          <li>Вертикальная интеграция внутренней производственной цепочке предприятия (networked manufacturing).</li>
        </ul>
        <div class="m-auto" style="width:682px;">
            <img alt="" src="http://www.tadviser.ru/images/thumb/9/96/%D0%93%D0%BE%D1%80%D0%B8%D0%B7%D0%BE%D0%BD%D1%82%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F_%D0%B8%D0%BD%D1%82%D0%B5%D0%B3%D1%80%D0%B0%D1%86%D0%B8%D1%8F.png/680px-%D0%93%D0%BE%D1%80%D0%B8%D0%B7%D0%BE%D0%BD%D1%82%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F_%D0%B8%D0%BD%D1%82%D0%B5%D0%B3%D1%80%D0%B0%D1%86%D0%B8%D1%8F.png" width="680" height="408" border="0">
        </div>
    </div>
    
    <div class="content-wrap">
        <h4 class="anchor-heading" id="erp-systems">ERP системы</h4>
        <p>Системы управления ресурсами предприятия ERP (Enterprise Resource Planning = планирование ресурсов предприятия) - это класс систем для управления производством, трудовыми ресурсами, финансами и активами, ориентированных на оптимизацию ресурсов предприятия.</p>
        <p>Многие компании по мере роста бизнеса приходят к пониманию, что им требуется какая-то ERP-система. Если в малом бизнесе удается обойтись без этого инструмента, то средний бизнес с каждым днем активнее пользуется подобными средствами. Но чтобы выбрать ERP-систему, и даже для того, чтобы понимать, требуется ли в бизнесе этот продукт и какие преимущества принесет его использование, важно правильно понимать, что это такое.</p>
        <p>ERP с интернет (Web) доступом находят все большее распространение в организациях с географически-распределенной структурой. В первую очередь это торговые, транспортные компании, страховщики, банки, телекомы, разработчики ПО, интернет-бизнесы, транспортные компании и т.д.</p>
        <p>Конечно, ERP решения для территориально распределенных предприятий на рынке существуют давно. Во-первых, это репликация данных, которую могут обеспечивать СУБД высокого уровня. Однако, для качественного выполнения репликации необходимо иметь мощные серверы во всех удаленных точках, не говоря уже об основном хранилище БД, а в придачу к ним - квалифицированный, а следовательно, высокооплачиваемый ИТ-персонал на местах. Специалисты прекрасно понимают уровень сложности подобной задачи, особенно когда оперативная информация нужна постоянно.</p>
        <p>Вторым инструментом, с помощью которого можно наладить удаленную работу - терминальный доступ к серверу БД. Но и здесь необходим дополнительный сервер, причем достаточно мощный, так как при большом числе удаленных рабочих мест и разнообразии задействованных пользователями приложений требования к организации работы на нем будут весьма высоки. Кроме того, вам придется приобрести недешевую систему виртуализации.</p>
          
    </div>
  </div>
  
  <div class="d-none d-lg-block col-lg-3">
    <div class="bd-toc">
        <ul class="section-nav">
            <li class="toc-entry"><a href="manufacturing#industry-4.0">Индустрия 4.0</a>
              <!-- <ul>
                <li class="toc-entry"><a href="#js">JS</a></li>
                <li class="toc-entry"><a href="#ts">TS</a></li>
              </ul> -->
            </li>
            <li class="toc-entry"><a href="manufacturing#erp-systems">ERP Системы</a></li>
          </ul>
    </div>
  </div>
</div>
