
<div class="row">
  <div class="col-12 col-lg-9 content">
    
    <div class="content-wrap">
        <h3 class="anchor-heading text-muted mb-4" id="erp-systems">JM cluster ERP системы</h3>

        <figure class="figure mx-auto">
            <img src="/assets/img/ERP_graph.png" class="figure-img img-fluid rounded" alt="JavaMach Cluster structure">
            <figcaption class="figure-caption text-right">&#169; JM cluster</figcaption>
        </figure>

        <p><b>ERP (Enterprise Resource Planning)</b> - организационная стратегия интеграции производства и операций, управления трудовыми ресурсами, финансового менеджмента и управления активами, ориентированная на непрерывную балансировку и оптимизацию ресурсов предприятия посредством специализированного интегрированного пакета прикладного программного обеспечения, обеспечивающего общую модель данных и процессов для всех сфер деятельности.</p>

        <p>Каждое предприятие ставит перед собой определённые цели. Эти цели и определяют успешность предприятия в современных реалиях. Повышение качества продукции, оптимизация и снижение затрат, увеличение своей доли на рынке, обеспечение необходимого уровня рентабельности, и т.д. - на пути к этому компании сталкиваться с различными проблемами:</p>
        <ul>
          <li>сложность согласования действия различных структурных подразделений;</li>
          <li>отсутствие единого информационного пространства для работы каждого сотрудника;</li>
          <li>неполный анализ эффективности систем;</li>
          <li>производственные проблемы;</li>
          <li>финансово-экономические проблемы;</li>
          <li>проблемы маркетинга, рекламы и сбыта;</li>
          <li>недостаток знаний, опыта у персонала;</li>
          <li>отраслевые специфики деятельности различных предприятий.</li>
        </ul>
        <p>Решение данных проблем для современных предприятий мы видим в:</p>
        <ul>
          <li>автоматизации основных процессов, протекающих на предприятии;</li>
          <li>использование многомодульных ERP систем, построенных на базе Open Source (открытое программное обеспечение) технологий;</li>
          <li>применение микросервисов в таких системах.</li>
        </ul>
      </div>
      <div class="content-wrap">
        <h5 class="anchor-heading" id="erp-structure">Структура ERP системы</h5>
        <p><b>Платформа.</b> Программная среда, в которой будет производиться работа. В ней задаются правила поведения, базовый функционал и взаимодействия модулей, компонентов этой системы.</p>
        <p><b>Данные.</b> В эту категорию входят хранилище данных на сервере, программное обеспечение для работы с базами данных (SQL или любая альтернатива), инструменты для интерпретации и обработки данных и отправки их в программные модули.</p>
        <p><b>Модули.</b> Компоненты, которые подключаются к платформе по мере необходимости. Все они работают с базой данных и применяют базовый функционал. В целом модули должны работать независимо друг от друга, и должны «бесшовно» подключаться и отключаться, если потребность в них исчезла. Даная парадигма отлично вписывается в концепцию микросервисов. И является - важной отличительной чертой ERP-системы.</p>
      </div>

      <div class="content-wrap">
        <h5 class="anchor-heading" id="microservice">Микросервисная архитектура</h5>
        <p>Описанная выше структура характерна для ERP систем с логической точки зрения. Но на практике трудно реализовать  многомодульность. И часто ERPсистемы выделяют все модули действительно в отдельные продукты. Что противоречит концепции.</p>
        <p>Поэтому мы предлагаем строить эти модули на базе микросервисной архитектуры. Что же такое микросервисы?</p>
        <p>Это современное представление сервисориентированной архитектуры (SOA), используемое для создания распределенных программных систем. Подмодули в архитектуре микросервисов взаимодействуют друг с другом для выполнения определенной цели. <b>Микросервисы</b> - это архитектурный стиль, в котором крупные сложные программные приложения состоят из одного или нескольких меньших микросервисов. Каждый из этих микросервисов сосредоточен на выполнении одной задачи, которая представляет собой маленькую функциональность бизнеса.</p>
        <p>Архитектурный подход к проектированию микросервисов отлично вписывается в идею модульности ERP систем и может привнести следующие преимущества в ней.</p>
        <p><b>Гибкость и эффективность работы. </b>Разработчики могут создавать, разворачивать и тестировать микросервис независимо от других компонентов, используя намного более короткие итерационные циклы. Микросервис — всего лишь один из множества компонентов, поэтому для его разработки можно использовать наиболее подходящий для требуемой функциональности язык программирования или среду, а также оптимальный механизм устойчивости.</p>
        <p><b>Масштабируемость:</b> команда разработчиков микросервиса может масштабировать компоненты во время выполнения независимо от других микросервисов, тем самым обеспечивая эффективное использование ресурсов и оперативное реагирование на изменения нагрузки.</p>
        <p><b>Устойчивость:</b> различные технологии, позволяют быстро отключать микросервисы в случае сбоев, без ущерба для других несвязанных функций. В то же время в реализациях микросервисов не применяется модель сохранения текущего состояния, что позволяет мгновенно перераспределить нагрузку и практически незамедлительно инициализировать новые среды выполнения.</p>
        <p>В ERP системе очень четко разделены границы модулей. И отключение любого из них (кроме некоторых базовых возможностей) никак не повлияет на работу оставшихся. Если компания нацелена на максимальное соответствие постоянно меняющимся условиям рынка и потребностям клиентов, ей просто необходимо оперативный обмен данными между подразделениями и оперативность принятия управленческих решений.</p>
      </div>
          
    
  </div>
  
  <div class="d-none d-lg-block col-lg-3">
    <div class="bd-toc">
        <ul class="section-nav">
            <li class="toc-entry"><a href="manufacturing#erp-systems">ERP Системы</a>
              <ul>
                <li class="toc-entry"><a href="manufacturing#erp-structure">Структура ERP системы</a></li>
                <li class="toc-entry"><a href="manufacturing#microservice">Микросервисная архитектура</a></li>
              </ul>
            </li>
        </ul>
    </div>
  </div>
</div>
