
<div class="row">
  <div class="col-12 col-lg-9 content">
    <div class="content-wrap">
        <h4 class="anchor-heading" id="industry-4.0">Индустрия 4.0</h4>
        <p>Немецкая академия наук и инженерии описала основные шаги, которые должно сделать предприятие, чтобы соответствовать концепции "Индустрия 4.0". В материале, подготовленном специально для TAdviser, журналист Леонид Черняк рассматривает эти этапы и предпосылки цифровой трансформации, к которой стремятся современные компании.</p>
        <p>Весной 2017 года Центр Industrie 4.0 Maturity Center, входящий в состав Немецкой академии наук и инженерии acatech, представил результаты исследования «Индекс зрелости для Индустрии 4.0» (Industrie 4.0 Maturity Index). Это исследование было выполнено совместно с экспертами компаний-партеров: Института управления в промышленности (FIR e. V. at RWTH Aachen), PTC, Infosys и TÜV SÜD.</p>
        <p>Индекс зрелости характеризует готовность предприятий к переходу на уровень индустриального развития, соответствующий представлениям о Четвертой промышленной революции, называемый «Индустрия 4.0» (Industrie 4.0 на немецком, Industry 4.0 на английском).</p>
        <h5>Что такое Industrie 4.0</h5>
        <p>Основу производства, согласно немецкой концепции Industrie 4.0, образуют киберфизические системы (Cyber-Physical System, CPS), состоящие из различных природных объектов, искусственных подсистем и управляющих контроллеров, позволяющих представить такое образование как единое целое. В CPS обеспечивается тесная связь и координация между вычислительными и физическими ресурсами.</p>
        <p>В понимании acatech, реализация инициативы Industrie 4.0 в полном ее объеме предполагает создание глобальной киберфизической системы в рамках национальной экономики. Но это не значит, что невозможно реализовать отдельные составляющие Industrie 4.0 в рамках одного отдельно взятого предприятия.</p>
        <p>Ключевым моментом в Industrie 4.0 является создание инфраструктуры, имеющей в основе три типа интеграции:</p>
        <ul>
          <li>Горизонтальная интеграция структурной модели бизнеса (value networks);</li>
          <li>Сквозная цифровая интеграция производственных процессов (digital integration of engineering) по всей структурной модели бизнеса;</li>
          <li>Вертикальная интеграция внутренней производственной цепочке предприятия (networked manufacturing).</li>
        </ul>
        <div class="col-12 col-lg-9 m-auto">
            <img alt="Scheme" src="http://www.tadviser.ru/images/thumb/9/96/%D0%93%D0%BE%D1%80%D0%B8%D0%B7%D0%BE%D0%BD%D1%82%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F_%D0%B8%D0%BD%D1%82%D0%B5%D0%B3%D1%80%D0%B0%D1%86%D0%B8%D1%8F.png/680px-%D0%93%D0%BE%D1%80%D0%B8%D0%B7%D0%BE%D0%BD%D1%82%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F_%D0%B8%D0%BD%D1%82%D0%B5%D0%B3%D1%80%D0%B0%D1%86%D0%B8%D1%8F.png" width="100%">
        </div>
    </div>
    
    <div class="content-wrap">
        <h4 class="anchor-heading" id="erp-systems">ERP системы</h4>
        <p>Аббревиатура ERP произошла от английского (Enterprise Resource Planning System), что переводится как система планирования ресурсов предприятия. Продукт представляет собой целостную систему управления компании, которая объединяет ресурсы предприятия по разным подразделениям. То есть все необходимые ресурсы, подразделения, функции и прочий инструментарий, необходимый для эффективной работы, находится в одной компьютерной системе. Доступ к информации получают все подразделения на предприятии, что существенно упрощает работу и обеспечивает обмен информацией.</p>
        <p>Нередко ЕРП путают с другими прикладными решениями и программными продуктами, которые помогают в решении тех или иных бизнес-задач. Например, по незнанию ERP считают аналогом CRM системы или альтернативой программам бухгалтерского и налогового учета. Основное отличие ЕРП заключается в том, что она позволяет управлять всеми ресурсами предприятия, а не отдельными его частями. Отличить ее от других прикладных решений просто, система:</p>
        <ul class="list-style">
          <li>интегрирует задачи и базы данных всех отделов компании;</li>
          <li>обеспечивает создание единой информационной среды;</li>
          <li>помогает в решении любых задач на предприятии.</li>
        </ul>
          
    </div>
  </div>
  
  <div class="d-none d-lg-block col-lg-3">
    <div class="bd-toc">
        <ul class="section-nav">
            <li class="toc-entry"><a href="manufacturing#industry-4.0">Индустрия 4.0</a>
              <!-- <ul>
                <li class="toc-entry"><a href="#js">JS</a></li>
                <li class="toc-entry"><a href="#ts">TS</a></li>
              </ul> -->
            </li>
            <li class="toc-entry"><a href="manufacturing#erp-systems">ERP Системы</a></li>
          </ul>
    </div>
  </div>
</div>
