<h3 class="text-muted page-header mb-5">Dashboard</h3>

<div class="dashboard-container">
  <div class="row">
    <div class="col-sm-6">
        <div class="card bg-light border-warning mb-3">
            <div class="card-body">
                <h5 class="text-muted card-title"><i class="fas fa-envelope text-secondary"></i> Messages</h5>
                <p class="card-text d-flex justify-content-between align-items-center">
                    List of messages got from contact page<span class="badge badge-secondary badge-pill">{{ numberOfMessages }}</span>
                </p>
                <a routerLink="/messages" class="btn btn-warning">Messages &#8594;</a>
            </div>
        </div>
    </div>
    
    <div class="col-sm-6">
        <div class="card bg-light border-warning mb-3">
            <div class="card-body">
                <h5 class="text-muted card-title"><i class="fas fa-users text-secondary"></i> Users</h5>
                <p class="card-text d-flex justify-content-between align-items-center">
                    List of registered users<span class="badge badge-secondary badge-pill">{{ numberOfUsers }}</span>
                </p>
                <a routerLink="/users" class="btn btn-warning">Users &#8594;</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card bg-light border-warning mb-3">
            <div class="card-body">
                <h5 class="text-muted card-title"><i class="fas fa-project-diagram text-secondary"></i> Projects</h5>
                <p class="card-text d-flex justify-content-between align-items-center">
                    List of projects<span class="badge badge-secondary badge-pill">{{ numberOfProjects }}</span>
                </p>
                <a routerLink="/projects" (click)="newState()" class="btn btn-warning">Projects &#8594;</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
            <div class="card bg-light border-warning mb-3">
                <div class="card-body">
                    <h5 class="text-muted card-title"><i class="fas fa-file-alt text-secondary"></i> Articles</h5>
                    <p class="card-text d-flex justify-content-between align-items-center">
                        List of articles<span class="badge badge-secondary badge-pill">{{ numberOfArticles }}</span>
                    </p>
                    <a routerLink="/science" (click)="newState()" class="btn btn-warning">Articles &#8594;</a>
                </div>
            </div>
    </div>

    <div class="col-sm-6">
        <div class="card bg-light border-warning mb-3">
            <div class="card-body">
                <h5 class="text-muted card-title"><i class="fas fa-handshake text-secondary"></i> Partners</h5>
                <p class="card-text d-flex justify-content-between align-items-center">
                    List of partners<span class="badge badge-secondary badge-pill">{{ numberOfPartners }}</span>
                </p>
                <a routerLink="/participate" (click)="newState()" class="btn btn-warning">Partners &#8594;</a>
            </div>
        </div>
    </div>

  </div>
</div>
